<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="gGxSu0Ol377UqZbjAHLLQsudzaT0kPNLaeLvmI0+15LxvEq6Ma+AYlOYqD+yJzE8ZeiQzjc6ggx9j28AUi22Rn+1gWi2N8q4fsI1leVB+Jc=" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="FormStyle" value="VisualStudio2010Blue"/>
    <add key="AppName" value="武汉海事局交管MIS系统"/>
  </appSettings>
</configuration>
